@charset "UTF-8";

/*
Pequenas telas: ate 600px
celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop:992px ate 120px
Grandes telas: acima de 1200px*/

@media screen and (max-width: 768px)  {
    .imagemN{
        width: 133px;
        height: 74px;
    }
    
    .header{
        position: absolute;
        z-index: 100;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }    

    .main h1{
        bottom: 70%;
        position: absolute;
        font-size: 32px;
        width: 100%;
        padding-bottom: 10px;
    }
    .main span{
        bottom: 65%;
        position: absolute;
        font-size: 18px;
        padding-bottom: 15px;
    }
    .main p{
        bottom: 55%;
        position: absolute;
        font-size: 16px;
        padding-bottom: 15px;
    }

    .form-cta{
        position: relative;
        display: grid;
        grid-template-columns: 500px 250px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .form-cta input{
        padding: 20px 10px;
        width: 50%;
        height: 5px;
        font-size: 18px;
        position: absolute; 
        left: 25%;
        border: 1px solid white;
        font-family: sans-serif;
        border-radius: 5px;
        background-color: rgba(240, 248, 255, 0.185);
    
    }
    
    .form-cta button{
        position: absolute;
        width: 25%;
        height: 40px;
        right: 35%;
        top: 60px;
        background-color: red;
        border-radius: 5px;
        outline: none;
        border: none ;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 0.5rem;
    }

    .section h1{
        display: block;
        font-size: 30px;
        margin-bottom: 16px;
        margin-left: 10px;
        
    
        
    }
    
    .section p{
        font-size: 18px;
        margin-left: 10px;
    }

    .img-tv{
        display: block;
        margin-right: 10px;
        
    }

    .video-tv{
        position: absolute;
        width: 170px;
        top: 30px;
        left: 30px;
    }

    .video-pc{
        position: absolute;
        width: 155px;
        top: 20px;
        left: 50px;
    }

    .footer h2{
        position: absolute;
        font-size: 16px;
        bottom: -1210px;
    }

    .footer p{
        position: absolute;
        bottom: -1400px;
        margin-bottom: 2rem;
        color: #757575;
        font-size: 10px;
    }

    .form-cta{
        position: relative;
        display: grid;
        grid-template-columns: 500px 250px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    footer > .form-cta input{
        padding: 20px 10px;
        height: 5px;
        font-size: 18px;
        position: absolute; 
        left: 2%;
        border: 1px solid white;
        font-family: sans-serif;
        border-radius: 5px;
        background-color: rgba(240, 248, 255, 0.185);
    
    }
    
    footer > .form-cta button{
        position: absolute;
        width: 25%;
        height: 40px;
        right: 58%;
        top: 60px;
        background-color: red;
        border-radius: 5px;
        outline: none;
        border: none ;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 0.5rem;
    }
}