@charset "UTF 8";


* {
    margin: 0px;
    padding: 0px;
 
 
    
}

.imagemN{
    width: 200px;
    height: 100px;
}

.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.header a{
    position: absolute;
    display: inline-block;
    background: red;
    color: white;
    align-self: flex-start;
    padding: 8px 18px ;
    text-decoration: none;
    border-radius: 3px;
    top: 28px;
    right: 56px;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

img {
    display: block;
    max-width: 100%;
}

.conteiner{
    max-width: 1130px;
    margin: 0 auto;
}

.main{
    background-image: url(/imagens2/netflixbackground.jpg);
    height: 785px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}
.main-child{
    z-index: 1;
    display: grid;
    justify-items: center;

}
.main h1{
    font-size: 50px;
    max-width: 974.68px;
    padding-bottom: 10px;
}
.main span{
    font-size: 26px;
    padding-bottom: 15px;
}

.form-cta{
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form-cta input{
    padding: 20px 10px;
    font-size: 18px;
    border: 1px solid white;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.185);

}

.form-cta button{
    background-color: red;
    border-radius: 5px;
    outline: none;
    border: none ;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 0.5rem;
}

.form-cta button:hover{
    background: #f40612;
}
.main p{
    font-size: 19px;
}

.gradiente{
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0,0,0,.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section{
    padding: 4rem 0;
    border-top: 8px solid #222;
    border-bottom: 8px solid #222;
}

.section h1{
    font-size: 50px;
    margin-bottom: 16px;
}

.section p{
    font-size: 26px;
}

.grid{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
}

.img-tv{
    position: relative;
   
}

.img-tv img{
    position: relative;
    z-index: 1;
}

.video-tv{
    position: absolute;
    width: 400px;
    top: 80px;
    left: 70px;
}

.img-pc{
    position: relative;
    
}

.img-pc img{
    position: relative;
    z-index: 1;

}

.video-pc{
    position: absolute;
    width: 350px;
    top: 40px;
    left: 90px;
}

.img-infantil{
    position: relative;
    
}

.img-infantil img{
    position: relative;
    z-index: 1;

}

.download .grid > div:first-child{
    order: 1;

}

.download .img-tv{

}

.footer .form-cta{
    margin-top: 0;
}

.footer{
    padding: 4rem 2rem;
    text-align: center;
    display: grid;
    justify-items: center;
}

.footer p{
    margin-top: 2rem;
    color: #757575;
    font-size: 13px;
}

.footer h2{
    margin-bottom: 2rem;
}